@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
.indexMain .hero, .blogMain, .contactMain, footer .footerEnd {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: whitesmoke; }

.bodyMargin {
  display: grid;
  width: 85%;
  margin: 0 auto;
  background-color: whitesmoke; }

header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #181515; }
  header nav ul li {
    font-size: 30px;
    font-weight: 700;
    padding: 10px; }
  header .navbar-brand img {
    width: 70%;
    height: 70%; }

.indexMain .indexEnvioPago {
  display: flex;
  margin: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  text-align: center; }
  .indexMain .indexEnvioPago img {
    width: 16%;
    height: 50%; }

.indexMain .hero {
  text-align: center;
  background-image: url(../img/seanw.png);
  background-size: cover;
  max-width: 2176px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  flex-direction: column; }
  .indexMain .hero img {
    width: 100%;
    height: fit-content; }
  .indexMain .hero h1 {
    font-size: 60px; }
  .indexMain .hero p {
    font-size: 30px; }

.indexMain .indexCarousel {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .indexMain .indexCarousel img {
    margin: 2%;
    width: 12%;
    height: auto; }

.indexMain .indexFlyers {
  text-align: center;
  display: flex;
  justify-content: space-between; }
  .indexMain .indexFlyers div {
    margin-top: 5%; }
  .indexMain .indexFlyers img {
    width: 80%;
    height: 320px; }
  .indexMain .indexFlyers a {
    text-align: end;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-size: 24px; }
  .indexMain .indexFlyers h2 {
    font-size: 35px;
    margin: 10px; }

.indexMain .brandLogo {
  transition: transform 0.3s ease-in-out; }

.indexMain .brandLogo:hover {
  transform: scale(1.89); }

.indexMain .productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center; }
  .indexMain .productos div {
    border: 2px solid black;
    width: 340px;
    height: 320px;
    margin: 20px;
    text-align: center;
    transition: 0.5s; }
  .indexMain .productos div:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.7); }
  .indexMain .productos a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px;
    margin: 20px;
    font-size: 24px;
    font-weight: 700; }
  .indexMain .productos img {
    width: 100%;
    height: 226px; }
  .indexMain .productos h3 {
    margin: 6px; }

.blogMain {
  text-align: center;
  flex-direction: column; }
  .blogMain p {
    padding: 2px;
    font-size: 25px; }
  .blogMain h1 {
    margin: 20px;
    font-size: 60px; }
  .blogMain h2 {
    margin: 8px;
    font-size: 45px; }
  .blogMain h3 {
    font-size: 35px;
    font-weight: 400; }
  .blogMain .blogImg {
    max-width: 1100px;
    height: auto; }

.galleryMain .galleryTitle {
  margin: 20px;
  text-align: center;
  font-size: 30px; }

.galleryMain .galleryGrid {
  display: grid;
  border: solid black;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 10px; }
  .galleryMain .galleryGrid div {
    transition: transform 0.5s ease-in-out; }
    .galleryMain .galleryGrid div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-box-shadow: 10px 10px 26px 0px black;
      -moz-box-shadow: 10px 10px 26px 0px black;
      box-shadow: 10px 10px 26px 0px #3d3737; }
  .galleryMain .galleryGrid div:hover {
    transform: scale(1.1); }

.galleryMain .gridItemWide {
  grid-column: span 2; }

.galleryMain .gridItemTall {
  grid-row: span 2; }

.galleryMain .maps {
  width: 600px;
  height: 400px; }

.contactMain {
  margin: 20px;
  text-align: center;
  flex-direction: column; }
  .contactMain h1 {
    font-size: 60px; }
  .contactMain p {
    font-size: 28px; }
  .contactMain .form {
    margin: 15px;
    font-size: 26px; }
    .contactMain .form h2 {
      font-size: 30px; }

.aboutMain .aboutUsText {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .aboutMain .aboutUsText h1 {
    font-size: 60px; }
  .aboutMain .aboutUsText p {
    font-size: 26px; }

footer {
  background-color: #181515;
  margin-top: 5%; }
  footer h2 {
    padding: 14px;
    padding-top: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    font-weight: 700; }
  footer .footerEnd {
    flex-direction: column;
    padding: 40px;
    padding-top: 15px; }
  footer i {
    font-size: 100px;
    color: white; }

@media screen and (max-width: 1200px) {
  .indexMain .indexFlyers {
    display: flex;
    justify-content: space-evenly; }
    .indexMain .indexFlyers img {
      width: 340px;
      height: 200px; }
  .indexMain .indexEnvioPago {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 10%; }
    .indexMain .indexEnvioPago img {
      width: 26%;
      height: 40%; }
  .indexMain .indexCarousel {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "brand brand brand" "brand brand brand"; }
    .indexMain .indexCarousel img {
      width: 60%;
      height: auto; }
  .indexMain .productos {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 1200px) {
  .galleryMain .galleryGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px; } }

@media screen and (max-width: 1200px) {
  .cultureMain .blogImg {
    width: 80%;
    height: auto; } }

@media screen and (max-width: 1020px) {
  .indexMain .indexFlyers {
    display: flex;
    flex-direction: column; }
    .indexMain .indexFlyers img {
      width: 500px;
      height: auto; }
  .indexMain .bodyMargin {
    width: 100%;
    height: 100%; }
  .indexMain .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: span 1fr; }
  .indexMain .indexEnvioPago {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 10%; }
    .indexMain .indexEnvioPago img {
      width: 18%;
      height: 40%; }
  .indexMain .indexCarousel {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "brand brand brand" "brand brand brand"; }
    .indexMain .indexCarousel img {
      width: 45%;
      margin-top: 6%;
      margin-bottom: 6%;
      height: auto; } }

@media screen and (max-width: 1020px) {
  .galleryMain .bodyMargin {
    width: 100%;
    height: 100%; }
  .galleryMain .galleryGrid {
    width: 100%;
    height: 100%; } }

@media screen and (max-width: 1020px) {
  footer .footerEnd {
    position: relative;
    padding-bottom: 75%;
    overflow: hidden; }
    footer .footerEnd iframe {
      width: 100%;
      height: 80%; } }

@media screen and (max-width: 850px) {
  .indexMain .indexFlyers {
    display: flex;
    flex-direction: column; }
    .indexMain .indexFlyers img {
      width: 500px;
      height: auto; }
  .indexMain .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: span 1fr; }
  .indexMain .indexEnvioPago {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px; }
    .indexMain .indexEnvioPago img {
      width: 24%;
      height: 40%; }
  .indexMain .indexCarousel {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "brand brand " "brand brand "; }
    .indexMain .indexCarousel img {
      width: 45%;
      margin-top: 6%;
      margin-bottom: 6%;
      height: auto; }
  .indexMain .hero h1 {
    font-size: 65px; }
  .indexMain .hero p {
    font-size: 25px; } }

.galleryMain .galleryGrid {
  grid-template-columns: 1fr;
  grid-template-rows: auto; }

.galleryMain .gridItem {
  grid-row: span 1;
  grid-column: span 1; }

@media screen and (max-width: 850px) {
  .contactMain .bodyMargin {
    width: 100%;
    height: 100%; }
  .contactMain h1 {
    font-size: 50px; }
  .contactMain p {
    font-size: 24px; }
  .contactMain textarea {
    width: 80%; } }

@media screen and (max-width: 620px) {
  .indexMain .hero {
    width: 200px;
    height: 500px; }
    .indexMain .hero h1 {
      font-size: 22px; }
    .indexMain .hero p {
      font-size: 16px; }
  .indexMain .indexFlyers img {
    width: 90%; }
  .indexMain .indexCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .indexMain .indexCarousel img {
      width: 40%;
      height: auto; }
  .indexMain .productos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }
