@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}



/* --------------------------------------------------------------------HEADER-------------------------------------------------- */

header{
    text-align: center;
    display: flex;
    Justify-content: space-around;
    align-items:center;
    background-color: rgb(24, 21, 21);
    
}

/* !!MEDIA QUERY PARA MOVIL */
/* .navbar{
    display: flex;
    flex-direction: column;
} */

.shlogo{
    height: 95px;
    width: 260px;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

header nav ul li{
    display: inline-block;
    font-size: 22px;
    margin: 4px 6px;
    font-weight: 700;
    padding: 15px;
}

header nav ul li a:hover{
    color: rgb(128, 113, 113);
}

/*--------------------------------------------------------------------------- MAIN INDEX ---------------------------------------------*/

body{
    background-color: whitesmoke;
}

.gridBody{
    display: grid;
    width: 85%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.enviopago img{
    width: 16%;
    height: 50%;
}

.enviopago{
    display: flex;
    margin: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
    text-align: center;

}

.hero{
    text-align: center;
    background-image: url(../img/seanw.png);
    background-size: cover;
    max-width: 2176px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero img{
    width: 100%;
    height: fit-content;
}
.hero h1{
    font-size: 60px;
}

.hero p{
    font-size: 30px;
}

.carouselMarcas{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.carouselMarcas img{
    margin: 2%;
    width: 12%;
    height: auto;
}

.flyers{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.flyers div{
    margin-top: 5%;
}
.flyers img{
    max-width: 420px;
    height: 320px;
}


.flyers a{
    text-align: end;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}

.flyers h2{
    font-size: 35px;
    margin: 10px;
}

.brand{
    transition: transform 0.3s ease-in-out;
}
.brand:hover{
    transform: scale(2.2);
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}


.productos div{
    border: 2px solid black;
    width: 340px;
    height: 300px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.productos div:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.7);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.7);
}
.productos a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 3px;
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
}

.productos img{
    width: 340px;
    height: 226px;
}

.productos h3{
    margin: 6px;
}


/* ---------------------------------------------FOOTER--------------------------------------------------------- */

footer{
    background-color: rgb(24, 21, 21);
    margin-top: 5%;
}

footer h2{
    padding: 14px;
    padding-top: 26px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.footerend{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 40px;
    padding-top: 15px;
}

/** ------------------------------------------------------------------------CONTACTO--------------------------------------------------------------- */

.mainContact h1{
    font-size: 60px;
}
.mainContact p{
    font-size: 28px;
}

.mainContact{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form{
    margin: 15px;
    font-size: 26px;
}

.form h2{
    font-size: 30px;
}



/**------------------------------------------------------------------Cultura------------------------------------------------------------------------ */

.mainBlog p{
    padding: 2px;
    font-size: 30px;
}


.mainBlog{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.mainBlog h1{
    margin: 20px;
    font-size: 60px;
}

.mainBlog p{
    font-size: 25px;
}

.mainBlog h2{
    margin: 8px;
    font-size: 45px;
}

.mainBlog h3{
    font-size: 35px;
    font-weight: 400;
}

.blogImg{
    max-width: 1100px;
    height: auto;
}

.aboutUsText{
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.aboutUsText h1{
    font-size: 60px;
}
.aboutUsText p{
    font-size: 26px;
}



/**------------------------------------------------------------------USTEDES------------------------------------------------------------------------ */


.titleGallery{
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.gridGallery{
    display: grid;
    border: solid black;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 10px;
}

.gridGallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 26px 0px rgb(61, 55, 55);
}

.gridItemWide{
    grid-column: span 2;
}

.gridItemTall{
    grid-row: span 2
};


.maps{
    width: 600px;
    height: 400px;
}

.gridGallery div img{
    transition: transform 0.5s ease-in-out;
}
.gridGallery div img:hover{
    transform: scale(1.2);
}


/*! ------------------------------------------------MEDIA QUERY --------------------------------------------------------------------------------*/

@media screen and (max-width:1200px){
    .flyers{
        display: flex;
        justify-content: space-evenly;
    }
    .flyers img{
        width: 340px;
        height: 200px;
    }

    .gridBody{
        width: 100%;
        height: 100%;
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: span 1fr;
    }    

    .enviopago{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin-left: 10%;
    }

    .enviopago img{
        width: 18%;
        height: 40%;
    }

    .carouselMarcas{
        justify-items: center;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area:
        "brand brand brand"
        "brand brand brand"
    }

    .carouselMarcas img{
        width: 60%;
        height: auto;
    }

    .gridGallery{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
    }
}


@media screen and (max-width:768px){
    
    .gridGallery{
        grid-template-columns: 1fr;
        grid-template-rows: 180px;
    }
    .gridItem{
        grid-row: span 1;
        grid-column: span 1;
    }
}

@media screen and (max-width:768px){
    .header{
        text-align: center;
        display: flex;
        Justify-content: space-around;
        align-items:center;
        background-color: rgb(24, 21, 21);
        flex-direction: column;
        
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .footerend {
        position:relative;
        padding-bottom: 75%;
        overflow: hidden;
    }

    .footerend iframe {
        position: absolute;
        width: 100%;
        height: 60%;
    }

    .mainContact h1{
        font-size: 30px;
    }
    .mainContact p{
        font-size: 16px;
    }
    .mainContact textarea{
        width: 80%;
    }

    .flyers{
        display: flex;
        flex-direction: column;
    }
    .flyers img{
        width: 800px;
        height: 360px;
    }
    
    .flyers a{
        font-size: 30px;
    }
    .carouselMarcas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carouselMarcas img{
        width: 40%;
        height: auto;
    }

    .hero{
        width: 100%;
        height: 400px;
    }
    .hero h1{
        font: 30px;
    }

    .hero p{
        font-size: 20px;
    }
    .productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .enviopago{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin-left: 10%;
    }

    .gridBody{
        width: 100%;
        height: 100%;
    }

    .productos a{
        font-size: 29px;
    }

    .productos h3{
        font-size: 36px;
    }

    .productos div{
        width: 368px;
        height: 340px;
        margin: 20px;
    }

    .productos img{
        width: 368px;
        height: 244px;
    }
    
    .blogImg{
        max-width: 700px;
    }

    .mainContact h1{
        font-size: 50px;
    }

    .mainContact p{
        font-size: 26px;
    }

    .mainContact input{
        font-size: 25px;
    }
}

