// --------------------------------VARIABLES-----------------------------------//

//---------------------------------LISTA--------------------------------------//
$colores:
whitesmoke,
rgb(24, 21, 21);

//-------------------------MIXIN-----------------------------------//
@mixin flex ($flex, $justify, $align, $text, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    text-align: $text;
    flex-direction: $direction;
}


//-------------------------EXTEND-----------------------------------//
// % PLCAEHOLDER
%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}